.modal-body
  %h4#myModalLabel.modal-title About Us
  %center
    %img.img-circle{:border => "0", :height => "140", :name => "aboutme", :src => "https://pbs.twimg.com/profile_images/824716853989744640/8Fcd0bji_400x400.jpg", :width => "140"}/
    %h3.media-heading
      Akash
      %small
    %span
      %strong
        %p Skills:
    %span.label.label-warning HTML5/CSS
    %span.label.label-info RoR
    %span.label.label-info Microsoft Office
    %span.label.label-success Windows XP, Vista, 7,Ubuntu
  %hr/
  %center
    %p.text-left
      %strong Bio:
      %br/
      Lorem ipsum dolor sit amet, admodum deserunt ne pro, deseruisse vituperata qui id, sumo dictas ad has. Sumo posse iracundia ex eos. Sed ea omittam offendit, ad habemus officiis est. No per mutat congue, vix modus convenire cu, detracto mandamus nam et. Salutandi iudicabit no mel.\r\n\r\nId eos iuvaret periculis, cu nemore mollis volumus sed. Vidit detracto euripidis usu ne. Vel vocent alienum dissentiunt cu, sit id nisl commodo, eum dolores periculis cu. Voluptatum constituam ius id. Tantas iuvaret ne mel.\r\n\r\nAn tota essent assueverit ius, no detraxit inciderint usu. At legendos quaerendum eos, eu cum regione delicata. Te ridens argumentum vis. Ut sit omnis elitr. Eos zril iudicabit interpretaris cu, an alii aeque perpetua per, eum percipitur cotidieque ne.\r\n\r\nIn magna elaboraret mel, ea pro hinc necessitatibus concludaturque, at exerci tincidunt usu. Duo modo atqui eirmod ne, ut vide partiendo sea. Eu probo modus salutandi eum, cum aeterno tincidunt mnesarchum ei. Eu eos sonet iuvaret interpretaris, graece tincidunt incorrupte ne duo. Sed an enim tota molestiae. At vim scripta vivendo eligendi. Has id quidam principes.
    %br/
  .modal-footer
    %center
      %button.btn.btn-danger{"data-dismiss" => "modal", :type => "button"} Close
